<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neko.mapper.BorrowRecordMapper">

    <insert id="insert" parameterType="com.neko.entity.BorrowRecord" useGeneratedKeys="true"
        keyProperty="id"> insert into borrow_records (number, status, user_id, borrow_time,
        user_name, return_time) values (#{number}, #{status}, #{userId}, #{borrowTime}, #{userName},
        #{returnTime}) </insert>

    <update id="update" parameterType="com.neko.entity.BorrowRecord"> update borrow_records <set>
            <if test="status != null"> status=#{status}, </if>
            <if test="returnTime != null">
        return_time=#{returnTime}, </if>
        </set> where id=#{id} </update>

    <select id="pageQuery" resultType="com.neko.entity.BorrowRecord"> select * from borrow_records <where>
            <if test="number != null and number!=''"> and number like concat('%',#{number},'%') </if>
            <if
                test="userId != null and userId!=''"> and user_id = #{userId} </if>
            <if
                test="status != null and status!=''"> and status = #{status} </if>
            <if
                test="beginTime != null and beginTime!=''"> and borrow_time &gt;= #{beginTime} </if>
            <if
                test="endTime != null and endTime!=''"> and borrow_time &lt;= #{endTime} </if>
        </where>
        order by borrow_time desc limit #{pageSize} offset #{offset} </select>

    <select id="count" resultType="java.lang.Long"> select count(id) from borrow_records <where>
            <if test="number != null and number!=''"> and number like concat('%',#{number},'%') </if>
            <if
                test="userId != null and userId!=''"> and user_id = #{userId} </if>
            <if
                test="status != null and status!=''"> and status = #{status} </if>
            <if
                test="beginTime != null and beginTime!=''"> and borrow_time &gt;= #{beginTime} </if>
            <if
                test="endTime != null and endTime!=''"> and borrow_time &lt;= #{endTime} </if>
        </where>
    </select>

    <select id="countByMap" resultType="java.lang.Integer"> select count(id) from borrow_records <where>
            <if test="begin != null"> and borrow_time &gt; #{begin} </if>
            <if test="end != null"> and
        borrow_time &lt; #{end} </if>
            <if test="status != null"> and status = #{status} </if>
        </where>
    </select>

</mapper>